:root {
  /* Font */
  --primary-Font : "Laila", serif;
  --seccondary-font :"Helvetica", sans-serif;
  --light: black;
  --focus: linear-gradient(to left, #5365F7, #4480F6);
  --border-color: hsla(0, 0%, 100%, .2);
  --global-background: radial-gradient(circle,rgb(23, 76, 200) 0%, rgba(255, 255, 255, 1) 42%, rgba(211, 217, 231, 1) 80%, rgba(255, 255, 255, 1) 100%);
  --background:  hsl(222, 38%, 95%);
  --shadow-1: hsla(236, 50%, 50%, .3);
  --shadow-2: hsla(236, 50%, 50%, .4);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .container-content {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #CCD3E3;
    background: radial-gradient(circle,rgba(204, 211, 227, 1) 0%, rgba(255, 255, 255, 1) 42%, rgba(211, 217, 231, 1) 80%, rgba(255, 255, 255, 1) 100%);
  }
  .card {
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 100vh;
    height: 70vh;
    background-color:  white
  
  }
  .card_title {
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    background: #5267F7;
    width: 100%;
    height: 8%;
   
    
  }
  .card_title img{
    width: 5%;
    float: left;
    margin: 5px 0px 5px 45px;
  }
  .card_title h2 {
    -webkit-background-clip: text;
    color: white;
    font-size: 40px;
    font-family: var(--primary-Font);
    margin-bottom: 20px;
    padding: 15px 10px 0px 5px;
    float: left;
  }
  .form{
    font-size: 18px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .chard-row {
    border-radius: 10px;
    width: 100%;
    height: 50rem;
    border: 1px solid black;
    margin-bottom: 16px;
    padding: 10px 10px;
  }

.chard-content-1 .title{
  font-family: var(--seccondary-font);
  font-size: 15px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5rem;
}
.chard-content-1 .pra-resep {
  font-size: 20px;
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 30px;
  .kanan{
    margin-left: 53rem;
    font-weight: 400;
  }
}

.chard-content-1 .info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.info .info-1 {
font-weight: bold;
font-family: var(--seccondary-font);
font-size: 18px;
margin-left: 10px;
}
.info .info-2{
font-family: var(--seccondary-font);
font-size: 18px;
margin-left: 16rem
}
.info .info-3{
font-family: var(--seccondary-font);
font-size: 18px;
font-weight: bold;
margin-left: 16rem
}
.info .info-4{
  font-family: var(--seccondary-font);
  font-size: 18px;
  margin-left: 16rem
  }

 .answer{
  display: flex;
  padding: 30px;
  
 }
 .answer-1-nomor,
 .answer-3-nomor{
  display: flex;
 }
.satu,.dua,.tiga{
  font-weight: bold;
  font-size: 18px;
  font-family: var(--seccondary-font);
 }
 
 .answer-1-nomor{
  font-family: var(--seccondary-font);
  font-size: 18px;
  margin-top: 10px;
  .text{
    margin-left: 5px;
  }
 }

.answer-2{
  margin-left: 5rem;
  font-family: var(--seccondary-font);
  font-size: 18px;
  text-align: center;
  .teks{
    margin-top: 10px;
    text-align: center;
    color: red;
  }
}

.answer-3 {
  margin-left: 10rem;
  font-size: 18px;
  font-family: var(--seccondary-font);

  .teks{
    margin-left: 10px;
    margin-top: 10px;
  }
  .icon{
    margin-top: 10px;
  }
}