
:root {
  /* Font */
  --primary-Font : "Laila", serif;
  --seccondary-font :"Helvetica", sans-serif;
  --light: black;
  --focus: linear-gradient(to left, #5365F7, #4480F6);
  --border-color: hsla(0, 0%, 100%, .2);
  --global-background: radial-gradient(circle,rgb(23, 76, 200) 0%, rgba(255, 255, 255, 1) 42%, rgba(211, 217, 231, 1) 80%, rgba(255, 255, 255, 1) 100%);
  --background:  hsl(222, 38%, 95%);
  --shadow-1: hsla(236, 50%, 50%, .3);
  --shadow-2: hsla(236, 50%, 50%, .4);
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-content {
  height: 90vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #CCD3E3;
  background: radial-gradient(circle,rgba(204, 211, 227, 1) 0%, rgba(255, 255, 255, 1) 42%, rgba(211, 217, 231, 1) 80%, rgba(255, 255, 255, 1) 100%);
}



.card {
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 600px;
  background-color:  white

}
.card_title {
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  background: linear-gradient(to right, #5365F7, #4480F6);
  width: 100%;
  height: 8%;
 
  
}
.card_title img{
  width: 6%;
  float: left;
  margin: 5px 0px 5px 45px;
}
.card_title h2 {
  -webkit-background-clip: text;
  color: white;
  font-size: 20px;
  font-family: var(--primary-Font);
  margin-bottom: 20px;
  padding: 10px 10px 0px 5px;
  float: left;
}
.form{
  font-size: 18px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  width: 100%;


}
.chard-row {

  border-radius: 10px;
  width: 100%;
  height: 6rem;
  border: 1px solid black;
  display: flex;
  margin-bottom: 16px;
  padding: 10px 10px;
}
.content{
  width: 100%;
}
.chard-row p{
  font-family:Arial, Helvetica, sans-serif;
}
.chard-content-0{
  color: #B81111;
  font-size: 14px;
  float: right;

}

.chard-content-1{
  padding: 0px 0px 0px 5px;
  margin-top: 10px;
  align-items: center;
  display: flex;
}
.chard-content-1 h1{
  font-size: 18px;
  font-family: var(--primary-Font);
}

.chard-content-2 {
  padding: 0px 0px 0px 5px;
  width: 100%;
  display: flex;
  align-items: center;
}
.chard-content-2 p{
  margin-right: 6rem;
  font-size: 14px;
  font-family: var(--seccondary-font);
}
.chard-content-2 a.link-1{

  font-size: 18px;
  border: 1px solid black;
  transition: .2s;
  cursor: pointer;
  background: none;
  color: #000000;
  border-radius: 20px;
  width: 6rem;
  height: 2rem;
  text-decoration:none ;
  text-align: center;
  padding: 5px 10px 5px 10px;
}

.chard-content-2 a.link-1{
  background: var(--focus);
  border-color: var(--focus);
  color: white;
}
.link-1:hover,
.link-1:focus {
  transform: translateY(-.2rem);
  box-shadow: 0 0 4.4rem .2rem var(--shadow-2);
}
.link-1:focus {
  box-shadow:
    0 0 4.4rem .2rem var(--shadow-2),
    0 0 0 .4rem var(--global-background),
    0 0 0 .5rem var(--focus);
}